<h4>LOGIN</h4>
<h3>NEXT</h3>

<%= form_tag sessions_path do %>
        <input type="email" placeholder="ID" name='email'><br>
        <input type="password" placeholder="PASSWORD" name='password'><br>
        <input type="submit" value='로그인'><br>

        <%=link_to '회원가입', new_user_path %>
<% end %>
