<div>activities X NEXT</div>

<div>
    <div>regular sessions</div>
    <div>정규 세션은 매주 화요일과 목요일에 진행되었습니다. 세션에서는 ~~를 배웠습니다.</div>
</div>

<div>
    <div>extra curricular activities</div>
    <div>정규 세션은 매주 화요일과 목요일에 진행되었습니다. 세션에서는 ~~를 배웠습니다.</div>
</div>

<div>
    <div>events</div>
    <div>정규 세션은 매주 화요일과 목요일에 진행되었습니다. 세션에서는 ~~를 배웠습니다.</div>
</div>