<<<<<<< HEAD
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
=======
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>

/* 너비 및 여백 지정 */

html,body{
   height:100%;
}
.carousel,.item,.active{
	height: 100%;
   width:100%;
 }
.carousel-inner{
	
    height: 100%;
}
/*실험*/
.carousel-inner {
 
  position: relative;
}
.words1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 200px;
  left: 800px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  
}
a{
  z-index: 10;
}

.item {
  z-index: 10;
}

.words2 {
width: 100%;
  height: 100%;
  position: absolute;
  top: 70px;
  left: 860px;
  color: black;
  display: flex;
  text-align: right;
  font-family: 'Ubuntu', sans-serif;
}
.words2-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 400px;
  left: 860px;
  color: black;
  font-family: 'Ubuntu', sans-serif;
  
}

.words3-1 {
  width:100%;
  height:100%;
  position: absolute;
  top: 240px;
  left: 200px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}
.words3-2 {
  width:100%;
  height:100%;
  position: absolute;
  top: 300px;
  left: 260px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}
.carousel-control{
   background-color: transparent !important;
   background: transparent !important;
   border-color: transparent !important;
}

/*여기까지*/
</style>
</head>
<body>



  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag("/assets/1.jpg", alt: "Los Angeles", style: "width:100%;") %>
		<div class="words1">
			<h1>LIKELION X NEXT</h1>
			<h3>  고려대학교 경영대학</h3>
			<h3>소프트웨어벤처네트워크</h3>
      </div>
	</div>
      <div class="item">
        <%= image_tag("/assets/2.jpg", alt: "Chicago", style: "width:100%;") %>
		<div class="words2">
			<h3><strong>우리는 <br>코딩을 통해<br>세상을 바꿀 수 있다고<br>믿습니다</strong></h3><br>
			</div>
			<div class="words2-1">
			<p>The time has come and it's now or never<br>To change the world and connect the dots</p></div>
      
      </div>
      <div class="item">
        <%= image_tag("/assets/3.jpg", alt: "New York", style: "width:100%;") %>
		<div class="words3-1">
		<h1>Code on,</h1></div>
		<div class="words3-2">
		<h1>Dreamers</h1></div>
		</div>
		
      </div>
    
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
</div>


</body>
</html>
<!--[출처]https://blog.naver.com/sam_sist/220913121765-->

>>>>>>> e02ea04f6731c624e3ab7c6055902494e904ccca
