<div>ABOUT US</div>
<div>
NEXT X 멋쟁이 사자처럼은 고려대학교 경영대학 소프트웨어벤처입니다. 비전공자를 위한 코딩 교육을 실시하고, 나아가 코딩을 통해 세상을 바꿀 수 있도록 여러 프로젝트를 실현합니다.

2018년은 NEXT로서는 첫 발을 디딘 해로서, 기존 코딩 교육 동아리의 성격에 비지니즈의 색깔을 더하여, 소프트웨어벤처 교육도 함께하려 합니다.
</div>