<body>
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron justify-content-center" style="background-color:#dcdcdc">
        <div class="container justify-content-center"> 
          <h1 class="display-3" style="text-align:center; color: black;font-size:5.5em; font-weight:bold;">NEXT X LIKELION</h1>
          <br>
          <div class='d-flex justify-content-center'>
          <div style="font-size:1.2em; width:70%; text-align:center;">NEXT X 멋쟁이 사자처럼은 고려대학교 경영대학 소프트웨어벤처입니다. 비전공자를 위한 코딩 교육을 실시하고, 나아가 코딩을 통해 세상을 바꿀 수 있도록 여러 프로젝트를 실현합니다. 2018년부터 NEXT와 함께 첫 발을 디딘 해로서, 멋쟁이사자처럼이라는 기존 코딩 교육 동아리의 성격에 Business의 색깔을 더하여, 소프트웨어벤처 교육도 함께 하려 합니다.
          </div>
          </div>
          
        </div>
      </div>

<br>
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4" id="intro-1">
            <h2 style="text-align:center; font-size:2.5em;">GOAL</h2>
            <br><br>
            <div id="intro-2">자신이 만들고자 하는 <br> 웹 서비스의 구현</div>
            
          </div>
          <div class="col-md-4" id="intro-1" style="background-color:#505050;" >
            <h2 style="text-align:center; font-size:2.5em; color:white;">MISSION</h2>
            <br><br>
            <div id="intro-2" style="color:white;">온라인 강의와 오프라인 강의를 통한<br> 체계적인 프로그래밍 교육</div>
            
          </div>
          <div class="col-md-4" id="intro-1">
            <h2 style="text-align:center; font-size:2.5em;">EDUCATION</h2>
            <br>
            <div id="intro-2" >기초적인 웹 프로그래밍 교육<br>(CSS, HTML, JavaScript, Ruby 등)<br>+ IT기반 스타트업 경영지식</div>
           
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
</body>