<style>
    .content {
        
        margin-left: 200px;
    }
    .first {
        width: 20%;
        flex: none;
    }

    .second {
        width: 60%;
        background-color: #f0f0f0;
        border-radius: 15px;
        height: 50px;
    }

    span {
        padding-top: 8px;
        display: inline-block;
        vertical-align: middle;
    }

    .apply {
        display: flex;
        justify-content: center;
    }
</style>

<div class="container d-flex justify-content-center m-3"><h1>Who's NEXT?<h2></div>

<div class="container content">
  <div class="row">
    <div class="col-md-6 first">
      NEXT 가치
    </div>
    <div class="col-lg-6 second">
      <span><img src="smiley.gif" alt="Next의 가치" height="50" width="300"></span>
    </div>
  </div>
</div>

<div class="container content">
  <div class="row">
    <div class="col-md-6 first">
      선발일정
    </div>
    <div class="col-lg-6 second">
      <span>설명회 일시 : 매년  2월 중순,  (#예시임)</span>
    </div>
  </div>
</div>

<div class="container content">
  <div class="row">
    <div class="col-md-6 first">
      지원요건
    </div>
    <div class="col-lg-6 second">
      <span>최소 2학기 이상 활동 가능, 전공무관, 뜨거운 열정을 지닌 고려대학교 재학(휴학)생</span>
    </div>
  </div>
</div>

<div class="container content">
  <div class="row">
    <div class="col-md-6 first">
      선발과정
    </div>
    <div class="col-lg-6 second">
      <span>서류 지원 -> 면접 -> 합격 통지</span>
    </div>
  </div>
</div>

<div class="apply">
<button onclick="myFunction()">지원하기</button>
</div>

<script>
function myFunction() {
    alert("지금은 지원기간이 아닙니다. 다음 기회에...");
}
</script>
