<h1>Who's NEXT?<h2>
<div>NEXT 가치</div>
<div>선발일정</div>
<div>지원요건</div>
<div>선발과정</div>

<button onclick="myFunction()">지원하기</button>

<script>
function myFunction() {
    alert("지금은 지원기간이 아닙니다. 다음 기회에...");
}
</script>
